* {
    box-sizing: border-box;
}

.container{
    background: white;
}

/* grid */

.wrapper-grid {
    border-radius: 10px;
    background: linear-gradient(to bottom,rgba(255, 255, 255, .9),rgba(189, 189, 189, 0.9));
    padding: 2em;
    display: grid;
    grid-column-gap: 10px;
    /* max-width: 1200px; */
    /* margin: 0 auto;
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas:
        "nav nav nav"
        "content content content"
        "card1 card2 card3"
        "footer footer footer" */
}
h1 img {
    display: flex;
}

.nav-grid {
    grid-area: nav;
}

.content-grid {
    grid-area: content;
}

.item1-grid {
    grid-area: card1;

}

.item2-grid {
    grid-area: card2;

}

.item3-grid {
    grid-area: card3;

}

.footer-grid {
    grid-area: footer;
}

/* grid */

.fondoPerrosMedianos {
    background: cover no-repeat white url("../images/FondoPerrosMedianos.jpg");
}

h1 {
    color: rgb(45, 4, 4);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.tituloAzul {
    color: rgb(25, 25, 102);
    padding-bottom: 1rem;
    font-weight: 700;
}

body {
    background-color: rgb(118, 117, 132);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

a {
    color: black;
    text-decoration: none;
}

a i{
    font-size: 1.8em;
}

.razas-x-tamanio article {
    margin-bottom: 100px;
}

/* .palabra = class          # = ID */

.popularbreeds {
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 20px rgb(0 0 0 / 20%);
    padding: 1.5rem;
    text-align: center;
}

.popularbreeds img {
    border-radius: 8px 8px 0 0;
}

.btn {
    text-decoration: none;
    border-radius: 5px;
    border: 0;
    color: white;
    background-color: grey;
    padding: 8px 16px;
    margin: 10px auto;
    display: inline-block;
    text-align: center;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background-color: cadetblue;
}

.btn-secondary {
    background-color: rgb(117, 153, 182);
}

.btn-warning {
    background-color: rgb(182, 69, 69);
}

main.row {
    padding-bottom: 1em;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="tel"] {
    margin: 15px 0;
    padding: 10px 8px;
    outline: none;
    border: 1px solid #bbb;
    border-radius: 15px;
    display: inline-block;
    box-sizing: border-box;
    transition: 0.2s ease all;
}

form input[type="password"]:focus,
form input[type=text]:focus {
    border-color: cornflowerblue;
}



fieldset input[type="text"],
fieldset input[type="password"],
fieldset input[type="email"] {
    display: block;
    margin-bottom: 0.2em;
}

.navbar-light .navbar-brand {
    padding-left: 10px;
}

/*CSS del footer */

footer {
    border-radius: 10px;
    background: #dfdfdf;
}

footer .nav-footer li {
    padding: 1em;
}


.carousel-item img {
    object-fit: cover;
    object-position: center;
    height: 50vh;
    overflow: hidden;
    margin-top: 1rem;
}

.col-sm-3 iframe {
    margin: 5em;
}

.paragraph-contact {
    margin: 70px 0 30px;
}

.carousel {
    margin: auto;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-bottom: 2rem;
}
.video-container embed,
.video-container iframe,
.video-container object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* responsive-cell */

/* @media only screen and (max-width: 600px) {
    .wrapper-grid {
        grid-template-areas:
            "nav"
            "content"
            "card1"
            "card2"
            "card3"
            "footer"
    }

    nav ul li {
        display: block;
    }

    .raciones table {
        border: 1px solid #cacaca;
        margin: 2em 0;
        padding: 0.3em;
        border-radius: 5px;
        background: white;
    }

    table {
        border-collapse: separate;
        border-spacing: 0.5em;
    }

    table,
    th,
    td {
        border: none
    }

    .cantidad-carrito {
        width: 1em;
    }

    .no-border {
        width: 1em;
        border: none
    }

    .tabla-encabezado {
        border-radius: 3px;
        width: 1em;
        padding: 0.5em 0.5em;
        line-height: 0.5;
        background-color: rgb(236 236 236 / 85%);
        white-space: nowrap;
        border-bottom: 4px solid rgb(60 60 188 / 85%);
    } */

/* } */
