//reusables
$primary-color: $blue;
$secondary-color: $lightblue;
$complementary-color: $darkgray;
$warning-color: $red;
$text-color: $black;
$text-color-contrast: $white;
$title-color: $navy;

// MAPS
$colores:("primary":$blue,
    "secondary":$lightblue,
    "warning":$red);