//variables
$white: #fff;
$black: #000;
$blue: #5f9ea0;
$lightblue: #7599b6;
$red: #b64545;
$lightgray: #d8d8d8;
$darkgray: #767584;
$navy: #191966;
$border-radius-xs : 6px;
$border-radius-md: 6px;
$border-radius-xl: 8px;

//reusables
$primary-color: $blue;
$secondary-color: $lightblue;
$complementary-color: $darkgray;
$warning-color: $red;
$text-color: $black;
$text-color-contrast: $white;
$title-color: $navy; 


//componentes
@mixin card {
    border-radius: $border-radius-xl;
    background-color: $text-color-contrast;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    padding: 1.5rem;
    text-align: center;
}

//mixins
@mixin btn {
    color: $text-color-contrast;
    background-color: $primary-color;
    border-radius: $border-radius-md;
    padding: 8px 16px;
    margin: 10px auto;
}

@mixin no-border {
    border-radius: 0;
    border-color: unset;
    border-style: none;
}
@mixin reset-link {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

//variables ends

body {
    background-color: $complementary-color;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    background: $white;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: $title-color;
    padding-bottom: 1rem;
}

// reusables
* {
    box-sizing: border-box;
}
a {
    color: $text-color;
    text-decoration: none;
}

a i{
    font-size: 1.8em;
}
// reusables

.razas-x-tamanio article {
    margin-bottom: 100px;
}

.popularbreeds {
    @include card;
    border: 1px solid $lightgray;
}

.popularbreeds img {
    border-radius: 8px 8px 0 0;
}

.btn {
    @include no-border;
    @include reset-link;
    @include btn;

    &:hover {
        opacity: 0.8;
    }
    .btn-primary {
        background-color: $primary-color;
    }
    .btn-secondary {
        background-color: $secondary-color;
    }
    .btn-warning {
        background-color: $warning-color;
    }
}


main.row {
    padding-bottom: 1em;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="tel"] {
    margin: 15px 0;
    padding: 10px 8px;
    outline: none;
    border: 1px solid $lightgray;
    border-radius: 15px;
    display: inline-block;
    box-sizing: border-box;
    transition: 0.2s ease all;
}

form input[type="password"]:focus,
form input[type=text]:focus {
    border-color: cornflowerblue;
}


fieldset input[type="text"],
fieldset input[type="password"],
fieldset input[type="email"] {
    display: block;
    margin-bottom: 0.2em;
}

.navbar-light .navbar-brand {
    padding-left: 10px;
}

/*CSS del footer */

footer {
    border-radius: 10px;
    background: #dfdfdf;
}

footer .nav-footer li {
    padding: 1em;
}


.carousel-item img {
    object-fit: cover;
    object-position: center;
    height: 50vh;
    overflow: hidden;
    margin-top: 1rem;
}

.col-sm-3 iframe {
    margin: 5em;
}

.paragraph-contact {
    margin: 70px 0 30px;
}

.carousel {
    margin: auto;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-bottom: 2rem;
    border-radius: $border-radius-xs;
}
.video-container embed,
.video-container iframe,
.video-container object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.cantidad-carrito {
    width: 50px;
}