@import "variables";
@import "reusables";
@import "mixins";
@import "componentes";

body {
    background-image: url("../images/paw-background.jpg");
    background-size: contain;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background: $white;
}

// genericos de etiqueta

@each $var, $color in $colores {
    .btn-#{$var} {
        background-color: $color;
    }
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: $title-color;
    padding-bottom: 1rem;
}

* {
    box-sizing: border-box;
}

a {
    @include reset-link;
    color: $text-color;
    text-decoration: none;

    i {
        font-size: 1.8em;
    }
}

//genericos de etiqueta

.razas-x-tamanio article {
    margin-bottom: 100px;
}

.popularbreeds {
    @include card;
    border: 1px solid $lightgray;
}

.popularbreeds img {
    border-radius: 8px 8px 0 0;
}

.btn {
    @include no-border;
    @include reset-link;
    @include btn;

    &:hover {
        opacity: 0.8;
    }
}

main.row {
    padding-bottom: 1em;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="tel"] {
    margin: 15px 0;
    padding: 10px 8px;
    outline: none;
    border: 1px solid $lightgray;
    border-radius: 15px;
    display: inline-block;
    box-sizing: border-box;
    transition: 0.2s ease all;
}

form input[type="password"]:focus,
form input[type=text]:focus {
    border-color: cornflowerblue;
}

fieldset input[type="text"],
fieldset input[type="password"],
fieldset input[type="email"] {
    display: block;
    margin-bottom: 0.2em;
}

.navbar-light .navbar-brand {
    padding-left: 10px;
    background-color:rgba($primary-color, 0.2);
    padding: 5px;
    border-radius: 5px;
}

/*CSS del footer */

footer {
    border-radius: 10px;
    background: $lightgray;

    .nav-footer li {
        padding: 1em;
    }
}

.carousel-item img {
    object-fit: cover;
    object-position: center;
    height: 50vh;
    overflow: hidden;
    margin-top: 1rem;
}

.col-sm-3 iframe {
    margin: 5em;
}

.paragraph-contact {
    margin: 70px 0 30px;
}

.carousel {
    margin: auto;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-bottom: 2rem;
    border-radius: $border-radius-xs;

    embed,
    iframe,
    object {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.cantidad-carrito {
    width: 50px;
}
