//variables
$white: #fff;
$black: #000;
$blue: #5f9ea0;
$lightblue: #7599b6;
$red: #b64545;
$lightgray: #d8d8d8;
$darkgray: #767584;
$navy: #191966;
$fondo-parallax-home:"../images/parallax-top.jpg";
$fondo-parallax-home-bot:"../images/parallax-home-bot.webp";
$border-radius-xs : 6px;
$border-radius-md: 6px;
$border-radius-xl: 8px;